<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya:Alegreya:500,500i,700">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>


<body>
<main style="flex: 1;">


    <nav class="navbar navbar-expand-lg navbar-dark bg-navbar sticky-top" id="mainNav">

        <div class="container">
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/shift_cipher">Shift Cipher</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/permutation_cipher">Permutation Cipher</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/substitution_cipher">Substitution Cipher</a>
                    </li>
                </ul>
            </div>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/about">ABOUT</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <div class="container">
        <section class="section3">
            <div class="jumbotron">
                <div>
                    <h2 id="tool" class="bookmark" style="margin-bottom: 10px">Substitution Cipher Tool</h2>
                </div>
                <div>
                    <textarea class="input" rows="5" style="margin-bottom: 10px"
                              placeholder="Enter text to encrypt or decrypt..." id="srcText"></textarea>
                </div>
                <div>
                    <button class="button" id="Paste" onclick="pasteClick();">Paste</button>
                    <div class="button" id="uploadButton" onclick="uploadClick();">Upload
                        <input type="file" id="fileUpload" name="fileUpload" class="file-upload">
                    </div>
                </div>
                <div class="tooltip-container">
                    <input class="key-input" placeholder="Key..." id="key">
<!--                    <span class="tooltiptext">The key value should be [0, 26]</span>-->
                </div>

                <div style="display: flex; align-items: center;">
                    <button class="button" id="encryptButton" onclick="encryptClick();">Encrypt</button>
                    <button class="button" id="decryptButton" onclick="decryptClick();">Decrypt</button>
                    <button class="button" id="decryptWithoutKeyButton" onclick="bruteDecryptClick()">Decrypt Without
                        Key
                    </button>
                    <button class="loader" id="loader"></button>
                </div>

                <div id="result" class="collapse bookmark-small">
                    <hr/>
                    <h3>Results</h3>
                    <label id="resultLabel" class="badge badge-dark" for="resultText"></label>
                    <textarea class="output" rows="5" id="resultText" readonly></textarea>
                    <button class="button" id="copyButton" onclick="copyClick();">Copy</button>
                    <button class="button" id="downloadButton" onclick="downloadClick();">Download</button>
                </div>
            </div>

        </section>
    </div>


    <script src="{{ url_for('static', filename='js/app.js') }}"></script>


    <script>

        function encryptClick() {
            if (!checkText() || !checkKey()) {
                hideElement('result');
                return;
            }

            var keyInput = document.querySelector('.key-input').value;
            var textInput = document.querySelector('.input').value;

            fetch('/substitution_encrypt', {
                method: 'POST',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify({
                    text: textInput,
                    key: keyInput
                }),
            })
                .then(response => response.json())
                .then(data => {
                    document.querySelector('.output').value = data.encryptedText;
                });

            document.getElementById('resultLabel').innerText = 'Encrypted message';
            showElement('result');
            scrollTo('result');


        }


        function decryptClick() {
            if (!checkText() || !checkKey()) {
                hideElement('result');
                return;
            }


            var keyInput = document.querySelector('.key-input').value;
            var textInput = document.querySelector('.input').value;

            var decryptedText = 'Decryption is not yet implemented.';
            fetch('/substitution_decrypt', {
                method: 'POST',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify({
                    text: textInput,
                    key: keyInput
                }),
            })
                .then(response => response.json())
                .then(data => {
                    document.querySelector('.output').value = data.decryptedText;
                });


            document.getElementById('resultLabel').innerText = 'Decrypted message.';
            showElement('result');
            scrollTo('result');

        }


        function bruteDecryptClick() {

            if (!checkText()) {
                hideElement('result');
                return;
            }

            var loader = document.getElementById('loader');
            loader.style.display = "inline-block";

            var textInput = document.querySelector('.input').value;

            var decryptedText = 'Decryption is not yet implemented.';
            fetch('/substitution_brute_decrypt', {
                method: 'POST',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify({
                    text: textInput,
                }),
            })
                .then(response => response.json())
                .then(data => {
                    loader.style.display = "none";
                    document.querySelector('.output').value = data.decryptedText;
                    document.getElementById('key').value = data.key;
                });


            document.getElementById('resultLabel').innerText = 'Decrypted message without key.';
            showElement('result');
            scrollTo('result');


        }

    </script>


</main>


<footer class="footer ">
    <div class="container text-white">
            <span>
                &copy; 2024 Yinuo Chen. All rights reserved.
            </span>

    </div>
</footer>
</body>


</html>